.headerStyle{
    background-color:rgba(30,35,51,255);
    color: white;
    width: 90%;
}

.headerLeft{
    width:50%
}
.headerLeft h1{
    font-size: 5rem;
    padding:10% 0 0 10%;
    margin-bottom: 0;
    line-height: 95%;
    word-spacing: -0.5rem;
}
.headerLeft p{
    display: block;
    line-height: 1.2rem;
    max-height: 3.6rem;
    font-size: 1.2rem;
    padding:0 0 10% 12%;
    margin-bottom: 0;
    line-height: 120%;
    width: 70%;
    text-align: left;
    
    
}
.headerLeft button{
    font-size: 1.1rem;
    color: rgba(30,35,51,255);
    font-weight: 600;
    border-style: none;
    background-color:white;
    padding: 3% 5%;
    margin-left: 12%;
    border-radius: 10px;
    margin-bottom: 15%;
    cursor: pointer;
}