.navBar{
    display: flex;
    background-color:rgba(30,35,51,255);
    flex-direction:row;
    align-content: space-between;
    padding: 2% 5% 0 5%;
    justify-content: space-between;
    width: 80%;

}
.navBar button{
    border-style: none;
    background-color:rgba(30,35,51,255);
    cursor: pointer;
}